* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@keyframes kf-horizontal-scroll-1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes kf-horizontal-scroll-2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}


.horizontal-scroll {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: unset;
}


.horizontal-scroll div#A { /* 1, 3, 5,... 番目 */
    animation: kf-horizontal-scroll-1 20s linear 0s infinite both;
    min-width: 100vw;
    border: 2px solid red;
}

.horizontal-scroll div#B {
    animation: kf-horizontal-scroll-2 20s linear -5s infinite both;
    min-width: 100vw;
    border: 2px solid blue;
}

img {
    width: 100%;
}